In [299]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as pl
import category_encoders as ce
import requests
from geopy.distance import distance

data = pd.read_csv('data/houses2.csv', sep='|').drop(columns=['Unnamed: 0'])

In [197]:
data.head()

,condition,elevator,energy_class,floor,housetype,neighborhood,price,price_per_square_meter,number_of_rooms,rooms,square_meters,year
0,hyvä,on,G,5/5,kt,Kamppi,191050,10055,1,h,"19,00",1929
1,tyyd.,ei,NaN,3/4,kt,Munkkivuori,143000,5789,1,"h, kk, kh","24,70",1957
2,tyyd.,on,E2007,6/6,kt,Harju,167000,6680,1,h+kk+alk+wc,"25,00",1940
3,tyyd.,ei,F,1/4,kt,Ruskeasuo,157000,6181,1,"h, kk","25,40",1951
4,hyvä,ei,NaN,2/3,kt,Puotila,133000,4926,1,"h, kk, alk, vh...","27,00",1961

In [198]:
# Encode condition
data.condition.loc[data.condition == '\xa0'] = None

mapping = [{'col': 'condition', 
            'mapping': 
                [('hyvä', 2), 
                 ('tyyd.', 1), 
                 ('huono', 0)]
           }]

ordinal_encoder = ce.ordinal.OrdinalEncoder(cols=['condition'])
data_cleaned = ordinal_encoder.ordinal_encoding(data, mapping=mapping)[0]

/u/93/vuolaa2/unix/.conda/envs/capsenv/lib/python3.6/site-packages/pandas/core/indexing.py:194: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [199]:
# Encode elevator
elevator_data = data.elevator.copy()
elevator_data[elevator_data == 'on'] = '1'
elevator_data[elevator_data == 'ei'] = '0'

data_cleaned.elevator = pd.to_numeric(elevator_data)

In [201]:
# Return triplet 
# (floor number, top_floor, bottom_floor, floor_fraction)
def floorClean(floor):
    if floor == None:
        return (None, None, None, None)
    
    floor_frac = eval(floor)
    if floor_frac >= 0:
        floor_number = int(floor[0])
    else:
        floor_number = -int(floor[1])
        
    total_floors = int(floor[-1])
    if floor_number == total_floors:
        top_floor = True
    else:
        top_floor = False
    
    if floor_number == '1':
        bottom_floor = True
    else:
        bottom_floor = False
    
    return (floor_number, top_floor, bottom_floor, floor_frac)

In [202]:
# Encode floor into floor number, top_floor, floor_fraction
floor_data = data_cleaned.floor.copy()
floor_data[floor_data == '\xa0'] = None

floor_df = floor_data.apply(floorClean)
floor_df = floor_df.apply(pd.Series)
floor_df.columns = ['floor_num', 'top_floor', 
                   'bottom_floor', 'floor_frac']

In [203]:
data_cleaned = data_cleaned.drop(columns=['floor'])
data_cleaned = data_cleaned.join(floor_df)

In [204]:
# Encode house type
onehot_encoder = ce.one_hot.OneHotEncoder(cols=['housetype'],
                                         handle_unknown='ignore')
house_data = onehot_encoder.fit(data_cleaned)

tmp = house_data.transform(data_cleaned)
tmp = tmp.rename(
    columns={'housetype_0' : 'type_kt',
             'housetype_1' : 'type_rt',
             'housetype_2' : 'type_ok'})
data_cleaned = tmp

In [213]:
# Fix square meter
def fix_comma(x):
    x = x.replace(',','.')
    return float(x)

square_meters = data.square_meters.apply(fix_comma)
data_cleaned.square_meters = square_meters

In [262]:
# Find lat and long for neighborhoods
api_key = 'censored'
base_addr = 'https://maps.googleapis.com/maps/api/geocode/json?address='

neighborhood_dict = {}

neighborhoods = data.neighborhood.unique()
for n_idx, neighborhood in enumerate(neighborhoods):
    if (pd.isnull(neighborhood)):
        continue
        
    if '/' in neighborhood:
        neighborhood_query = neighborhood.split('/', 1)[1]
    else:
        neighborhood_query = neighborhood
    
    address = neighborhood_query + ',Helsinki'
    query = base_addr + address + '&key=' + api_key
    
    r = requests.get(query)
    try:
        location = r.json()['results'][0]['geometry']['location']
    except:
        location = {'lat': 0, 'lng': 0}
        
    neighborhood_dict[neighborhood] = location
    
    print('Progress: ' + str(n_idx+1) + ' of ' + str(len(neighborhoods)))

Progress: 1 of 155
Progress: 2 of 155
Progress: 3 of 155
Progress: 4 of 155
Progress: 5 of 155
Progress: 6 of 155
Progress: 7 of 155
Progress: 8 of 155
Progress: 9 of 155
Progress: 10 of 155
Progress: 11 of 155
Progress: 12 of 155
Progress: 13 of 155
Progress: 14 of 155
Progress: 15 of 155
Progress: 16 of 155
Progress: 17 of 155
Progress: 18 of 155
Progress: 19 of 155
Progress: 20 of 155
Progress: 21 of 155
Progress: 22 of 155
Progress: 23 of 155
Progress: 24 of 155
Progress: 25 of 155
Progress: 26 of 155
Progress: 27 of 155
Progress: 28 of 155
Progress: 29 of 155
Progress: 30 of 155
Progress: 31 of 155
Progress: 32 of 155
Progress: 33 of 155
Progress: 34 of 155
Progress: 35 of 155
Progress: 36 of 155
Progress: 37 of 155
Progress: 38 of 155
Progress: 39 of 155
Progress: 40 of 155
Progress: 41 of 155
Progress: 42 of 155
Progress: 43 of 155
Progress: 44 of 155
Progress: 45 of 155
Progress: 46 of 155
Progress: 47 of 155
Progress: 48 of 155
Progress: 49 of 155
Progress: 50 of 155
Progress: 51 of 155
Progress: 52 of 155
Progress: 53 of 155
Progress: 54 of 155
Progress: 55 of 155
Progress: 56 of 155
Progress: 57 of 155
Progress: 58 of 155
Progress: 59 of 155
Progress: 60 of 155
Progress: 61 of 155
Progress: 62 of 155
Progress: 63 of 155
Progress: 64 of 155
Progress: 65 of 155
Progress: 66 of 155
Progress: 67 of 155
Progress: 68 of 155
Progress: 69 of 155
Progress: 70 of 155
Progress: 71 of 155
Progress: 72 of 155
Progress: 73 of 155
Progress: 74 of 155
Progress: 75 of 155
Progress: 76 of 155
Progress: 77 of 155
Progress: 78 of 155
Progress: 79 of 155
Progress: 80 of 155
Progress: 81 of 155
Progress: 82 of 155
Progress: 83 of 155
Progress: 84 of 155
Progress: 85 of 155
Progress: 86 of 155
Progress: 87 of 155
Progress: 88 of 155
Progress: 89 of 155
Progress: 90 of 155
Progress: 91 of 155
Progress: 92 of 155
Progress: 93 of 155
Progress: 94 of 155
Progress: 95 of 155
Progress: 96 of 155
Progress: 97 of 155
Progress: 98 of 155
Progress: 99 of 155
Progress: 100 of 155
Progress: 101 of 155
Progress: 102 of 155
Progress: 103 of 155
Progress: 104 of 155
Progress: 105 of 155
Progress: 106 of 155
Progress: 107 of 155
Progress: 108 of 155
Progress: 109 of 155
Progress: 110 of 155
Progress: 111 of 155
Progress: 112 of 155
Progress: 113 of 155
Progress: 114 of 155
Progress: 115 of 155
Progress: 116 of 155
Progress: 117 of 155
Progress: 118 of 155
Progress: 119 of 155
Progress: 120 of 155
Progress: 121 of 155
Progress: 122 of 155
Progress: 123 of 155
Progress: 124 of 155
Progress: 125 of 155
Progress: 126 of 155
Progress: 127 of 155
Progress: 128 of 155
Progress: 129 of 155
Progress: 130 of 155
Progress: 131 of 155
Progress: 132 of 155
Progress: 133 of 155
Progress: 134 of 155
Progress: 135 of 155
Progress: 136 of 155
Progress: 137 of 155
Progress: 138 of 155
Progress: 139 of 155
Progress: 141 of 155
Progress: 142 of 155
Progress: 143 of 155
Progress: 144 of 155
Progress: 145 of 155
Progress: 146 of 155
Progress: 147 of 155
Progress: 148 of 155
Progress: 149 of 155
Progress: 150 of 155
Progress: 151 of 155
Progress: 152 of 155
Progress: 153 of 155
Progress: 154 of 155
Progress: 155 of 155

In [277]:
def createLatLong(x):
    # x is string from neighborhood dict
    # Returns tuple (lat, long)
    if (pd.isnull(x)):
        return (np.nan, np.nan)
    elif x == 'Kuninkaantammi':
        x = 'Hakuninmaa'
        
    loc = neighborhood_dict[x]
    
    # Stupid bug
    try:
        ret = (loc['lat'], loc['lng'])
    except:
        ret = (loc['lat'], loc['long'])
        
    return ret

In [278]:
location_data = data.neighborhood.copy()

location_df = location_data.apply(createLatLong)
location_df = location_df.apply(pd.Series)
location_df.columns = ['lat', 'lng']
data_cleaned = data_cleaned.join(location_df)

In [315]:
# Add distance from city center
helsinki_center = (60.16985569999999, 24.9383791)
def distanceToCenter(x):
    lat = x['lat']
    lng = x['lng']
    loc = (lat, lng)

    dist_center = distance(helsinki_center, loc).kilometers
    
    return dist_center

In [318]:
dists = data_cleaned.apply(distanceToCenter, axis=1)
data_cleaned['dist_center'] = dists

/u/93/vuolaa2/unix/.conda/envs/capsenv/lib/python3.6/site-packages/geopy/point.py:74: UserWarning: Point coordinates should be finite. NaN or inf has been passed as a coordinate.  This will cause a ValueError exception in the future versions of geopy.
  UserWarning)

In [321]:
data_cleaned

,type_kt,type_rt,type_ok,elevator,energy_class,neighborhood,price,price_per_square_meter,number_of_rooms,rooms,square_meters,year,condition,floor_num,top_floor,bottom_floor,floor_frac,lat,lng,dist_center
0,1,0,0,1,G,Kamppi,191050,10055,1,h,19.0,1929,2,5.0,True,False,1.000000,60.167458,24.931075,0.485608
1,1,0,0,0,NaN,Munkkivuori,143000,5789,1,"h, kk, kh",24.7,1957,1,3.0,False,False,0.750000,60.206704,24.871212,5.544540
2,1,0,0,1,E2007,Harju,167000,6680,1,h+kk+alk+wc,25.0,1940,1,6.0,True,False,1.000000,60.188258,24.955949,2.270341
3,1,0,0,0,F,Ruskeasuo,157000,6181,1,"h, kk",25.4,1951,1,1.0,False,False,0.250000,60.202747,24.905494,4.093763
4,1,0,0,0,NaN,Puotila,133000,4926,1,"h, kk, alk, vh...",27.0,1961,2,2.0,False,False,0.666667,60.212173,25.096109,9.939839
5,1,0,0,1,E2007,Haaga,181500,6259,1,h+kk+parv,29.0,1963,2,2.0,False,False,0.500000,60.221863,24.896194,6.249120
6,1,0,0,0,G2013,Käpylä,186000,6414,1,"h, k",29.0,1943,2,1.0,False,False,0.333333,60.214163,24.950781,4.984236
7,1,0,0,1,NaN,Kallio,189000,6517,1,h+kk+kph,29.0,1962,1,3.0,False,False,0.428571,60.184287,24.949273,1.717779
8,1,0,0,0,D2007,Mellunmäki,98000,3267,1,"h, kk, kph",30.0,1968,1,3.0,True,False,1.000000,60.237217,25.114083,12.299261
9,1,0,0,1,E,Puotinharju,138000,4452,1,h+kk+kph,31.0,1963,2,6.0,False,False,0.857143,60.212888,25.077880,9.103941
10,1,0,0,1,C,Herttoniemi,203190,5805,1,h+kt+alk,35.0,2019,2,1.0,False,False,0.142857,60.194735,25.032617,5.918755
11,1,0,0,1,F,Ullanlinna,121722,3005,1,h ks wc,40.5,1929,1,1.0,False,False,0.142857,60.158414,24.949040,1.405511
12,1,0,0,1,NaN,Kallio,208000,9244,1,"h, avok, kph, ...",22.5,1912,2,3.0,False,False,0.500000,60.184287,24.949273,1.717779
13,1,0,0,1,F2013,Etu-Töölö,265000,8281,1,"h, avok, kph",32.0,1912,1,3.0,False,False,0.600000,60.173822,24.918530,1.187131
14,1,0,0,0,E2007,Oulunkylä,142000,4369,1,"h, kk, las.par...",32.5,1979,2,3.0,True,False,1.000000,60.229082,24.963424,6.743373
15,1,0,0,0,E2007,Hermanni,190000,5507,1,"h, k, kph, vh",34.5,1960,1,1.0,False,False,0.250000,60.195097,24.966776,3.223665
16,1,0,0,0,E,Malmi,128000,3657,1,h+kk+kph+iso l...,35.0,1983,2,3.0,True,False,1.000000,60.251022,25.010563,9.889233
17,1,0,0,0,E2007,Kamppi,317000,9057,1,"h, avok, kph, ...",35.0,1927,2,2.0,False,False,0.400000,60.167458,24.931075,0.485608
18,1,0,0,1,E,Kallio,248000,5277,1,h+k+m.alk,47.0,1932,0,3.0,False,False,0.428571,60.184287,24.949273,1.717779
19,1,0,0,1,F,Munkkisaari,310000,8986,1,"h, k, kph, parvi",34.5,1911,2,7.0,True,False,1.000000,60.150177,24.928393,2.261577
20,1,0,0,0,E2007,Kallio,135320,3812,1,"h,k,s,parvi",35.5,1913,1,5.0,False,False,0.833333,60.184287,24.949273,1.717779
21,1,0,0,1,NaN,Lauttasaari,245000,6901,1,"h, k, kph, par...",35.5,1962,2,5.0,True,False,1.000000,60.157330,24.877253,3.669684
22,1,0,0,0,NaN,Keski-töölö,186000,9300,1,"h, keittiö...",20.0,1940,2,2.0,False,False,0.500000,60.183337,24.922480,1.742043
23,1,0,0,0,G,Munkkivuori,167500,5284,1,"h, kk, vh, kh",31.7,1957,1,4.0,True,False,1.000000,60.206704,24.871212,5.544540
24,1,0,0,1,C,Herttoniemi,159510,7250,1,h+kt,22.0,2019,2,7.0,True,False,1.000000,60.194735,25.032617,5.918755
25,1,0,0,0,E,Mellunmäki,100000,2899,1,"h, kph, kk, al...",34.5,1975,1,2.0,False,False,0.666667,60.237217,25.114083,12.299261
26,1,0,0,1,F,Kallio,274000,6850,1,h+k+alkovi+kph,40.0,1928,2,5.0,False,False,0.714286,60.184287,24.949273,1.717779
27,1,0,0,0,C2007,Harju,255000,5756,1,"h, k, kh, eril...",44.3,1912,0,5.0,True,False,1.000000,60.188258,24.955949,2.270341
28,1,0,0,0,G2013,Alppila,160000,7619,1,"h, kk, kph, vh...",21.0,1961,1,3.0,False,False,0.750000,60.191869,24.942615,2.463880
29,1,0,0,1,G,Kallio,174000,7250,1,"h, ikk.kk, kh...",24.0,1958,1,5.0,False,False,0.714286,60.184287,24.949273,1.717779
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3402,0,0,1,0,NaN,NaN,496000,3149,5,"h, k, 2x kph, ...",157.5,2005,2,NaN,None,None,NaN,NaN,NaN,NaN
3403,0,0,1,0,NaN,NaN,640000,6400,1,.krs;k+oh+et+k...,100.0,1923,2,1.0,False,False,0.500000,NaN,NaN,NaN
3404,0,0,1,0,NaN,NaN,311000,2270,4,"-5h, 2 x k,s, ...",137.0,1952,1,NaN,None,None,NaN,NaN,NaN,NaN
3405,0,0,1,0,NaN,NaN,325000,2778,4,"h, k, kph/s, k...",117.0,1986,2,1.0,True,False,1.000000,NaN,NaN,NaN
3406,0,0,1,0,NaN,NaN,490000,4667,4,"-6h,k, 2 wc, k...",105.0,1946,2,NaN,None,None,NaN,NaN,NaN,NaN
3407,0,0,1,0,A,NaN,520000,3606,5,h+k+apuk+2 wc+...,144.2,2011,2,-1.0,False,False,-0.500000,NaN,NaN,NaN
3408,0,0,1,0,NaN,NaN,374500,2937,4,-5h+k+s+2wc,127.5,1987,1,NaN,None,None,NaN,NaN,NaN,NaN
3409,0,0,1,0,NaN,NaN,200000,2222,4,h+k+s+autotalli,90.0,1961,0,1.0,True,False,1.000000,NaN,NaN,NaN
3410,0,0,1,0,NaN,NaN,195000,2294,4,h+k+tkh+kph+s,85.0,1948,1,-1.0,False,False,-0.333333,NaN,NaN,NaN
3411,0,0,1,0,E,NaN,322000,3067,4,", oh, 3 mh, th...",105.0,1990,1,1.0,True,False,1.000000,NaN,NaN,NaN
3412,0,0,1,0,NaN,NaN,489000,4075,4,"h, k, kph, s, ...",120.0,1987,2,1.0,True,False,1.000000,NaN,NaN,NaN
3413,0,0,1,0,NaN,NaN,1200000,2978,8,"h, k, 3 kph, s...",403.0,2005,2,-1.0,False,False,-0.500000,NaN,NaN,NaN
3414,0,0,1,0,F,NaN,478000,2193,5,"h, k, ph, s, 2...",218.0,1954,2,-1.0,False,False,-0.333333,NaN,NaN,NaN
3415,0,0,1,0,NaN,NaN,483000,3076,5,"h, avok, kph, ...",157.0,2006,2,-1.0,False,False,-0.500000,NaN,NaN,NaN
3416,0,0,1,0,NaN,NaN,265000,2431,4,"h, k, s",109.0,1984,1,1.0,True,False,1.000000,NaN,NaN,NaN
3417,0,0,1,0,NaN,NaN,434000,3122,NaN,"K: k, oh, s-os...",139.0,1984,1,1.0,False,False,0.500000,NaN,NaN,NaN
3418,0,0,1,0,NaN,NaN,545000,3385,4,"h,k,s",161.0,1982,1,1.0,False,False,0.500000,NaN,NaN,NaN
3419,0,0,1,0,NaN,NaN,740000,2418,5,"h, k, wc, ja y...",306.0,1917,0,NaN,None,None,NaN,NaN,NaN,NaN
3420,0,0,1,0,NaN,NaN,290000,1801,6,hks,161.0,1982,1,1.0,False,False,0.500000,NaN,NaN,NaN
3421,0,0,1,0,A2007,NaN,616000,4889,5,"h, k, rt, khh...",126.0,2012,2,1.0,False,False,0.333333,NaN,NaN,NaN
3422,0,0,1,0,NaN,NaN,262000,2660,3,"h, th, k, kph,...",98.5,1983,1,1.0,True,False,1.000000,NaN,NaN,NaN
3423,0,0,1,0,NaN,NaN,480000,3582,5,"h, k, et, kph ...",134.0,2007,2,-1.0,False,False,-0.500000,NaN,NaN,NaN
3424,0,0,1,0,NaN,NaN,325000,3385,4,"huonetta, kei...",96.0,2006,2,2.0,True,False,1.000000,NaN,NaN,NaN
3425,0,0,1,0,NaN,NaN,247000,2520,3,-4h+k+kph+s,98.0,1955,0,NaN,None,None,NaN,NaN,NaN,NaN
3426,0,0,1,0,NaN,NaN,250000,2604,4,"h, k, kph, s, ...",96.0,1959,1,-1.0,False,False,-0.500000,NaN,NaN,NaN
3427,0,0,1,0,NaN,NaN,348000,2320,7,"h, k, s, kph, ...",150.0,1954,2,-1.0,False,False,-0.333333,NaN,NaN,NaN
3428,0,0,1,0,NaN,NaN,440000,2821,6,"h,k,s,2xkh/wc",156.0,2002,1,1.0,False,False,0.500000,NaN,NaN,NaN
3429,0,0,1,0,NaN,NaN,485000,4217,5,"h, k, s, ph, e...",115.0,1988,2,NaN,None,None,NaN,NaN,NaN,NaN
3430,0,0,1,0,NaN,NaN,335000,4467,3,", oh, 2 mh, wc...",75.0,1941,1,1.0,False,False,0.500000,NaN,NaN,NaN
3431,0,0,1,0,NaN,NaN,474000,3019,5,"h,k, saunatila...",157.0,1988,2,-1.0,False,False,-0.500000,NaN,NaN,NaN

In [324]:
# Finally, save cleaned data to file
data_cleaned.to_csv('data/cleaned_data2.csv')

In [325]:
# Here we save neighborhood dict for future use
import json
with open('data/neighborhood_dictionary.json', 'w') as outfile:
    json.dump(neighborhood_dict, outfile)